/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
       LAYOUT / PUBLIC SIDE
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
h1,
h2,
h3,
h4,
h5,
h6 {
  float: none;
  width: auto;
  font-family: 'Caudex', sans-serif;
}
body {
  background: #f1f2e8;
  font: 16px/22px 'Merriweather', sans-serif;
  color: #676c53;
}
a {
  color: #a2a653;
}
#website {
  width: 100%;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.wrap {
  margin: 0 auto;
  width: 960px;
  height: auto;
}
.header {
  width: 100%;
  min-width: 960px;
  height: 266px;
  float: left;
  position: relative;
  z-index: 10;
  background: url(../images/bg_header.png) repeat-x center 0;
}
.header .wrap-header {
  position: relative;
}
.logo {
  position: absolute;
  margin-top: 14px;
  margin-left: 0px;
  left: 50%;
  margin-left: -85px;
}
.logo img {
  float: left;
}
.navigation {
  width: 41%;
  min-width: 355px;
  height: 43px;
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.navigation.left {
  float: left;
}
.navigation.left li {
  width: 40%;
  min-width: 195px;
  float: right;
  text-align: right;
}
.navigation.right {
  float: right;
}
.navigation.right li {
  width: 26%;
  min-width: 118px;
  text-align: left;
  float: left;
}
.navigation li {
  width: 40%;
  min-width: 158px;
  display: inline-block;
}
.navigation li.active a {
  color: #a2a653;
}
.navigation li a {
  position: relative;
  font-size: 15px;
  line-height: 15px;
  color: #676c53;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 2px 0 #FFF;
}
.navigation li a:hover {
  color: #a2a653;
}
.navigation li a::before,
.navigation li a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.navigation li a::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
.navigation li a::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
.navigation li a:hover::before,
.navigation li a:hover::after,
.navigation li a:focus::before,
.navigation li a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
/** BANNER **/
.box-banner {
  width: 100%;
  height: 300px;
  float: left;
  z-index: 1;
}
.box-banner .images {
  width: 100%;
  height: 300px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}
/** SLIDESHOW **/
.wrap-slideshow {
  width: 100%;
  float: left;
  position: relative;
  margin-top: -266px;
  z-index: 1;
}
.slideshow {
  width: 100% !important;
  float: left;
}
.slideshow .slide {
  behavior: url('css/PIE.htc');
  position: relative;
  width: 100%;
  min-height: 579px !important;
  background-size: cover !important;
}
.slideshow .slide .slide_descriptions {
  width: 100%;
  height: 470px;
  float: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}
.slideshow .slide .slide_descriptions h1 {
  behavior: url('css/PIE.htc');
  font-size: 60px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 60px;
  color: #fff;
  letter-spacing: 4px;
  margin: 0 0 20px;
  text-shadow: -1px 1px 3px #000000;
}
.slideshow .slide .slide_descriptions h1 span {
  display: block;
  font-size: 50px;
}
.slideshow .slide .slide_descriptions a {
  behavior: url('css/PIE.htc');
  display: block;
  position: relative;
  width: 590px;
  font-size: 16px;
  color: #fff;
  margin: 3% auto 0;
  padding: 15px 30px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-shadow: -1px 0px 1px #000000;
  background: url(../images/btn_bg_forrest.png);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.slideshow .slide .slide_descriptions a img {
  position: absolute;
  right: 12px;
  top: 38% !important;
}
.scroll-for-more {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 102;
  color: #fff;
  text-align: center;
  width: 50px;
  margin-left: -25px;
}
.nav-slider {
  width: 100%;
  float: left;
  position: absolute;
  bottom: 8px;
  left: 0px;
  z-index: 101;
  text-align: center;
  padding: 0;
}
.nav-slider span {
  width: 12px;
  height: 12px;
  float: none;
  margin: 0px 3px;
  text-indent: 100000px;
  display: inline-block;
  background: url("../images/nav_slide.png") top center no-repeat transparent;
}
.nav-slider span.cycle-pager-active {
  background: url("../images/nav_slide_active.png") top center no-repeat transparent;
}
/** PUBLIC SLIDESHOW OVERWRITE **/
.public .slideshow .slide {
  min-height: 480px !important;
}
/** MAIN CONTENT AREA **/
.main {
  width: 100%;
  float: left;
  z-index: 10;
  padding-bottom: 50px;
}
/** SIDENAV - LEFT **/
#sidebar {
  width: 220px;
  float: left;
  margin-top: 65px;
  margin-left: 0px;
  margin-bottom: 150px;
  position: relative;
  z-index: 10;
}
#sidebar .sidebar-nav {
  width: 100%;
  float: left;
  padding: 0;
  margin: 10px 0px;
  list-style: none;
}
#sidebar .sidebar-nav li {
  width: 100%;
  float: left;
  text-align: left;
  border-top: 1px solid #cacdbe;
}
#sidebar .sidebar-nav li:last-child {
  border-bottom: 1px solid #cacdbe;
}
#sidebar .sidebar-nav li a {
  width: 86%;
  padding: 15px 7%;
  float: right;
  font-size: 13px;
  line-height: 18px;
  color: #132a3b;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
#sidebar .sidebar-nav li:hover a {
  color: #a2a653;
}
#sidebar .sidebar-nav li.active a {
  color: #a2a653;
  border-bottom: 1px solid #e2e3db;
  background: url(../images/ico_arrowdown.png) no-repeat right center;
}
#sidebar .sidebar-nav li.active ul {
  width: 100%;
  float: left;
  margin: 8px 0px;
  list-style: none;
  padding: 0px;
}
#sidebar .sidebar-nav li.active ul li {
  width: 100%;
  float: left;
  border: none;
}
#sidebar .sidebar-nav li.active ul li a {
  font-size: 10px;
  color: #a2a653;
  padding: 8px 7%;
  border: none;
  background: none;
}
#sidebar .sidebar-nav li.active ul li:hover a,
#sidebar .sidebar-nav li.active ul li.active a {
  text-decoration: underline;
}
/** MAIN CONTENT AREA - RIGHT **/
.content-right {
  width: 705px;
  float: right;
  margin-top: 47px;
  margin-right: 0px;
  padding-bottom: 40px;
}
.content-right h1 {
  width: 100%;
  margin: 0 0 35px;
  font-size: 32px;
  color: #204661;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.content-right h2 {
  font-size: 28px;
  color: #a2a653;
  line-height: 26px;
  font-weight: normal;
  font-style: italic;
  margin: 15px 0px;
}
.content-right h3 {
  font-size: 23px;
  color: #204661;
  line-height: 26px;
  font-weight: normal;
  font-style: italic;
  margin: 15px 0px;
}
.content-right h4 {
  font-size: 20px;
  color: #676c53;
  line-height: 20px;
  font-weight: normal;
  font-style: italic;
  margin: 15px 0px;
}
.content-right h5 {
  font-size: 18px;
  color: #204661;
  line-height: 20px;
  font-weight: normal;
  font-style: italic;
  margin: 15px 0px;
}
.content-right h6 {
  font-size: 16px;
  color: #204661;
  line-height: 20px;
  font-weight: bold;
  font-style: italic;
  margin: 15px 0px;
}
.content-right div.text {
  width: 100%;
  float: left;
  font-size: 13px;
  color: #676c53;
  line-height: 28px;
}
.content-right p {
  margin: 0 0 20px;
}
.content-right ul,
.content-right ol {
  margin: 0px 0px 15px 25px;
}
.content-right blockquote {
  padding: 50px 0 0 90px;
  margin: 0 0 30px 0;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  font-weight: 300;
  color: #a2a653;
  background: url('../images/line_divider.png') no-repeat center 25px;
}
.content-right blockquote span {
  color: #b6b973;
  font-size: 13px;
  display: block;
  text-align: right;
}
.content-right .text ul,
.content-right .text ol {
  margin-top: 12px;
}
.content-right .text ul ul,
.content-right .text ol ol {
  margin-top: 0;
  text-indent: -13px;
  margin-left: 38px;
  list-style-position: inside;
}
.content-right a {
  color: #a2a653;
  font-style: italic;
}
.content-right a:hover {
  color: #d9dbb7;
  text-decoration: underline;
}
.ie6 .main .content-right .text ul ul,
.ie7 .main .content-right .text ul ul,
.ie8 .main .content-right .text ul ul,
.ie9 .main .content-right .text ul ul {
  text-indent: -18px;
}
.ie6 .main .content-right .text ol ol,
.ie7 .main .content-right .text ol ol,
.ie8 .main .content-right .text ol ol,
.ie9 .main .content-right .text ol ol {
  text-indent: -18px;
}
.line-divider {
  float: left;
  position: relative;
  height: 11px;
  width: 100%;
  text-align: center;
  margin: 40px 0;
}
.line-divider img {
  display: block;
  width: 71px;
  margin: 0 auto;
}
/** SIDE IMAGE*/
.side-image {
  float: right;
  margin: 5px 0px 10px 20px;
}
.side-image img {
  behavior: url('css/PIE.htc');
  float: left;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 2px #999999;
  -moz-box-shadow: 0 0 2px #999999;
  box-shadow: 0 0 2px #999999;
}
/** SIDE IMAGE W/ LINK **/
.public-callout {
  float: right;
  border: 3px solid #fff;
  position: relative;
  margin: 3px 0px 10px 15px;
}
.public-callout p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px !important;
  padding: 10px 15px;
  width: 91%;
  z-index: 2;
  color: #fff;
}
.public-callout img {
  float: left;
}
/** FOOTER **/
.logo_footer {
  float: left;
}
.footer {
  width: 100%;
  min-width: 960px;
  float: left;
  background: #163042;
  padding: 32px 0 20px;
}
.wrap-club-info {
  float: left;
  width: 100%;
  position: relative;
}
.wrap-club-info .club-info {
  width: 324px;
}
.wrap-club-info .club-info h2 {
  font: 400 34px 'Caudex', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.wrap-club-info .club-info p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  margin: 30px 0  0 35px;
}
.wrap-club-info .club-info a {
  color: #fff;
  text-decoration: none;
}
.wrap-club-info .club-info.address {
  float: left;
  padding-left: 6%;
}
.wrap-club-info .club-info.address i {
  position: absolute;
  left: 79px;
  color: #b6b973;
}
.wrap-club-info .club-info.social {
  position: absolute;
  left: 50%;
  margin-left: -158px;
  text-align: center;
}
.wrap-club-info .club-info.social img {
  margin-top: 70px;
}
.wrap-club-info .club-info.social div {
  margin-top: 75px;
}
.wrap-club-info .club-info.social i {
  color: #2d6287;
  margin: 0 4px;
}
.wrap-club-info .club-info.find-out {
  float: right;
  text-align: right;
  padding-right: 6%;
  position: relative;
}
.wrap-club-info .club-info.find-out form {
  position: relative;
  float: left;
  width: 100;
}
.wrap-club-info .club-info.find-out form input,
.club-info.find-out form select {
  width: 80%;
  padding: 15px 15px;
  margin-bottom: 6px;
  background: #204661;
  border: none;
  color: #397dae;
  font: 14px 'Merriweather', sans-serif;
  border: 1px solid #163042;
}
.club-info.find-out form .select-interest {
  width: 89.8%;
  overflow: hidden;
  float: right;
}
.club-info.find-out form select {
  width: 105.8%;
  padding: 9px 15px;
  -webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  background: url('../images/br_down.png') no-repeat 260px center #204661;
}
.club-info.find-out form select option {
  height: 30px;
}
.wrap-club-info .club-info.find-out form input:focus {
  border: 1px solid #b6b973;
  color: #fff;
}
.wrap-club-info .club-info.find-out form input.form-send {
  behavior: url('css/PIE.htc');
  background: #b6b973;
  color: #fff;
  width: auto;
  padding: 15px 50px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #333333;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
@media only screen and (max-width: 1100px) {
  .wrap-club-info .club-info.address {
    padding-left: 15px;
  }
  .wrap-club-info .club-info.address p {
    font-size: 14px;
  }
  .wrap-club-info .club-info.find-out {
    padding-right: 15px;
  }
  .wrap-club-info .club-info.find-out form input {
    width: 70%;
  }
  .wrap-club-info .club-info.address i {
    left: 19px;
  }
}
.nav-footer {
  width: 100%;
  list-style: none;
  float: left;
  padding: 15px 0px;
  margin: 30px 0;
  text-align: center;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
.nav-footer li {
  width: auto;
  float: none;
  display: inline;
  margin: 0px 2%;
}
.nav-footer li:first-child {
  margin-left: 0px;
}
.nav-footer li a {
  float: none;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-footer li a:hover {
  text-decoration: underline;
}
.copyright {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #265474;
}
.copyright a {
  font-size: 12px;
  line-height: 16px;
  color: #265474;
  text-decoration: none;
}
.copyright a:hover {
  text-decoration: underline;
}
/** FORM LOGIN **/
.closeLogin {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: url("../images/bg_member_login.png") top center repeat transparent;
}
.wrap-login {
  float: left;
  background: #fff;
  margin: 8px;
  overflow: hidden;
  padding: 35px 35px 10px;
  -webkit-box-shadow: 0 0 3px #000000;
  -moz-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
}
.memberLogin {
  width: 445px;
  display: none;
  position: absolute;
  left: 50%;
  top: 150px;
  z-index: 1000;
  margin: 0px 0 0 -246px;
  font-size: 10px;
  background: url('../images/bg_login.png');
  -webkit-box-shadow: 0 0 3px #000000;
  -moz-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
}
.memberLogin h2 {
  display: block;
  position: relative;
  width: 70%;
  margin: 0 auto;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #204661;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  z-index: 2;
  background: #fff;
}
.memberLogin .double-lines {
  position: absolute;
  width: 88%;
  height: 4px;
  border-top: 1px solid #e2e3db;
  border-bottom: 1px solid #e2e3db;
  left: 25px;
  top: 54px;
  z-index: 1;
}
form#memberLogin {
  position: relative;
  float: left;
  display: block;
  padding-bottom: 65px;
}
form#memberLogin input[type="text"] {
  width: 92%;
  height: 15px;
  position: relative;
  padding: 15px 14px;
  margin-bottom: 15px;
  outline: 0 none;
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
  color: #a2a653;
  border: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
form#memberLogin input[type="password"] {
  width: 92%;
  height: 15px;
  position: relative;
  padding: 15px 14px;
  outline: 0 none;
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
  color: #a2a653;
  border: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
form#memberLogin input.remember {
  bottom: 25px;
  left: 0px;
  position: absolute;
}
form#memberLogin label.remember {
  bottom: 22px;
  left: 23px;
  position: absolute;
  font-family: 'Merriweather', sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #204661;
}
form#memberLogin input.submit {
  behavior: url('css/PIE.htc');
  bottom: 0px;
  cursor: pointer;
  outline: 0 none;
  position: absolute;
  right: 0px;
  border: 0 none;
  background: none repeat scroll 0 0 #b6b973;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 45px;
  text-transform: uppercase;
  width: auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
form#memberLogin p.help {
  height: 13px;
  bottom: 0px;
  left: 5px;
  width: 50%;
  position: absolute;
}
form#memberLogin p.help a {
  color: #204661;
  font-family: 'Merriweather', sans-serif;
  font-size: 12px;
  line-height: 22px;
}
.memberLogin a {
  font-family: 'Merriweather', sans-serif;
  font-size: 10px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}
.memberLogin .membership {
  float: left;
  position: relative;
  width: 120%;
  margin-top: 40px;
  padding: 15px 0px;
  border-top: 1px solid #fff;
  background: #f1f2e8;
  margin: 40px 0 -10px -35px;
}
.memberLogin .membership a {
  color: #204661;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Merriweather', sans-serif;
  padding: 8px 0;
  line-height: 28px;
}
.memberLogin .membership a span {
  font-size: 13px;
  text-transform: uppercase;
  color: #a2a653;
}
.memberLogin .membership a:hover {
  color: #a2a653;
}
/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
       WEDDING & MEMBERSHIP
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
.bridal-callout {
  float: left;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 1px #999999;
  -moz-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 1px #999999;
}
.bridal-callout h2 {
  font: italic 24px 'Merriweather', sans-serif;
}
.bridal-callout p {
  font-size: 14px;
}
.bridal-callout img {
  display: block;
  margin: 0 auto;
}
.bridal-callout a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-weight: bold;
  font-style: normal;
}
.bridal-callout a:hover {
  text-decoration: none;
}
.wrap-gallery {
  width: 582px;
  position: relative;
  margin: 40px auto 40px;
}
.wrap-gallery .gallery {
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 2px #999999;
  -moz-box-shadow: 0 0 2px #999999;
  box-shadow: 0 0 2px #999999;
}
.wrap-gallery a.cycle-prev {
  background: url('../images/arrow_prev.png') no-repeat;
  width: 35px;
  height: 80px;
  text-indent: 9999px;
  position: absolute;
  top: 36%;
  left: -48px;
}
.wrap-gallery a.cycle-next {
  background: url('../images/arrow_next.png') no-repeat;
  width: 35px;
  height: 80px;
  text-indent: 9999px;
  position: absolute;
  top: 36%;
  right: -48px;
}
.wrap-wed-video {
  width: 578px;
  position: relative;
  margin: 20px auto 30px;
}
.tour-request {
  float: left;
  position: relative;
  width: 100%;
}
.tour-request h1 {
  font-size: 26px;
}
.tour-request form {
  position: relative;
  float: left;
  width: 100;
}
.tour-request form input {
  width: 44%;
  padding: 15px 15px;
  margin-bottom: 6px;
  background: #fff;
  border: none;
  color: #676c53;
  font: 14px 'Merriweather', sans-serif;
  border: 1px solid #e2e3db;
}
.tour-request form input.first-name {
  margin-right: 8px;
}
.tour-request form input.email {
  width: 68%;
  margin-right: 12px;
}
.tour-request form input:focus {
  border: 1px solid #b6b973;
  color: #a2a653;
}
.tour-request form input.form-send {
  behavior: url('css/PIE.htc');
  background: #b6b973;
  color: #fff;
  width: auto;
  padding: 15px 50px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #333333;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  border: 0 none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.wrap-wed-buttons {
  float: left;
  width: 100%;
  text-align: center;
}
.wrap-wed-buttons h2 {
  font: italic 24px 'Merriweather', sans-serif;
}
.wrap-wed-buttons p {
  font-size: 14px;
}
.wrap-wed-buttons ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrap-wed-buttons ul li {
  behavior: url('css/PIE.htc');
  display: inline-block;
  list-style: none;
  background: #204661;
  width: auto;
  padding: 15px 50px;
  margin-top: 10px;
  border: 0 none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.wrap-wed-buttons ul li:first-child {
  margin-right: 40px;
}
.wrap-wed-buttons ul li a {
  color: #fff;
  text-shadow: 1px 1px 1px #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 12px;
}
/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
       HOMEPAGE
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
.homepage .main {
  position: relative;
  margin: 0;
  padding: 0;
}
/** WELCOME SECTION **/
.hp-welcome {
  position: relative;
  float: left;
  width: 94%;
  min-width: 960px;
  max-height: 493px;
  padding: 50px 0 100px 6%;
  overflow: hidden;
  background: #f1f2e8;
}
.hp-welcome h1 {
  color: #204661;
  font-weight: normal;
}
.hp-welcome .wrap-welcome {
  float: left;
  width: 50%;
}
.hp-welcome .wrap-welcome p.welcome-text {
  position: relative;
  color: #676c53;
  margin-bottom: 60px;
  line-height: 30px;
}
.hp-welcome .wrap-welcome a.link-brochure {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
.hp-welcome img {
  position: absolute;
}
.hp-welcome img.circle-sml {
  bottom: -120px;
  z-index: 2;
  left: 155%;
  height: auto;
  max-width: 435px;
  min-width: 292px;
  width: 30%;
}
.hp-welcome img.circle-lg {
  bottom: -165px;
  left: 169%;
  height: auto;
  max-width: 652px;
  min-width: 553px;
  width: 57%;
}
/** CALLOUT SLIDER **/
.callout-slider {
  background: #fff;
  position: relative;
  float: left;
  text-align: center;
  padding: 30px 0 0 0;
  width: 100%;
}
.callout-slider h1 {
  width: 100%;
  line-height: 45px;
  color: #204661;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.callout-slider h1 span {
  position: relative;
  font: 400 italic 26px 'Merriweather', sans-serif;
  color: #a2a653;
  display: block;
  text-transform: none;
  letter-spacing: 0;
}
.callout-slider ul.callout-pager {
  position: relative;
  padding: 15px 0 0 0;
  margin: 0;
  z-index: 10;
}
.callout-slider ul.callout-pager li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 3%;
  padding-bottom: 50px;
}
.callout-slider ul.callout-pager li a {
  text-decoration: none;
  line-height: 28px;
}
.callout-slider ul.callout-pager li a span {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
}
.callout-slider ul.callout-pager li a:hover {
  color: #204661;
}
.callout-slider ul.callout-pager li.cycle-pager-active {
  background: url(../images/arrow_callout_active.png) no-repeat center bottom;
}
.callout-slider ul.callout-pager li.cycle-pager-active a {
  color: #204661;
}
.callout-slider #callout-slideshow {
  width: 100% !important;
  float: left;
  height: 560px;
  overflow: hidden;
  margin-top: -26px;
  z-index: 1;
}
.callout-slider #callout-slideshow .slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.callout-slider #callout-slideshow .slide img {
  position: absolute;
  left: 50%;
  margin-left: -960px;
  float: left;
  z-index: 0;
}
.callout-slider #callout-slideshow .slide .callout-description {
  position: absolute;
  width: 750px;
  height: 100%;
  left: 50%;
  margin-left: -375px;
  text-align: center;
  overflow: hidden;
  display: table;
  z-index: 10;
}
.callout-slider #callout-slideshow .slide .callout-description a {
  color: #fff;
  line-height: 42px;
  text-shadow: 1px 1px 2px #000;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}
.callout-slider #callout-slideshow .slide .callout-description a:hover {
  text-shadow: 2px 2px 4px #000;
}
.callout-slider .callout-prev {
  cursor: pointer;
  position: absolute;
  top: 56%;
  left: 30px;
  z-index: 20;
}
.callout-slider .callout-next {
  cursor: pointer;
  position: absolute;
  top: 56%;
  right: 30px;
  z-index: 20;
}
.ie7 #callout-slideshow .slide .callout-description p {
  margin-top: 27%;
}
/** WEDDING SECTION **/
.hp-wedding {
  position: relative;
  float: left;
  width: 94%;
  height: 520px;
  padding: 50px 0 50px 6%;
  overflow: hidden;
  background: #f1f2e8;
  min-width: 1100px;
}
.hp-wedding .wrap-hp-wedding {
  float: left;
  width: 47%;
}
.hp-wedding .wrap-hp-wedding h1 {
  width: 100%;
  line-height: 65px;
  color: #204661;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}
.hp-wedding .wrap-hp-wedding h1 span.animate-wed-span {
  position: relative;
  font: 400 italic 26px 'Merriweather', sans-serif;
  color: #a2a653;
  display: block;
  text-transform: none;
  letter-spacing: 0;
}
.hp-wedding .wrap-hp-wedding p.wedding-text {
  position: relative;
  color: #676c53;
  margin: 30px 0 40px;
  line-height: 30px;
  clear: both;
}
.hp-wedding .wrap-hp-wedding a.link-wedding {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
.hp-wedding .wrap-heart {
  float: right;
  width: 515px;
  position: relative;
  margin-right: 5%;
}
.hp-wedding .wrap-heart img.heart-left {
  position: absolute;
  top: 119px;
  left: 0px;
  z-index: 2;
}
.hp-wedding .wrap-heart img.heart-right {
  position: absolute;
  top: 9px;
  right: -22px;
}
.wrap-video {
  position: relative;
  float: left;
  width: 100%;
  min-width: 960px;
  height: 474px;
  overflow: hidden;
}
.wrap-video video {
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
}
.wrap-video video.bg-vid {
  z-index: 3;
}
.wrap-video .wrap-bg-full-vid {
  top: 0;
  left: 0;
  width: 843px;
  height: 474px;
  position: absolute;
  z-index: 15;
  display: none;
}
.wrap-video video.bg-full-vid {
  z-index: 1;
}
#video-overlay {  
  position: absolute;
  top: 0;
  left: 0;
  width: 843px;
  height: 474px;
  z-index: 2;
}
.wrap-video .wrap-play {
  position: absolute;
  top: 167px;
  left: 23%;
  width: 108px;
  height: auto;
  z-index: 4;
  cursor: pointer;
}
.wrap-video .wrap-play span {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 3px #000;
}
.wrap-video .video-description {
  position: absolute;
  padding: 40px 50px 50px 234px;
  width: 47%;
  min-width: 450px;
  height: 100%;
  display: block;
  text-align: center;
  top: 0px;
  right: 0;
  background: url(../images/mask_video.png) repeat-y -37px top;
  z-index: 100;
}
.wrap-video .video-description h1 {
  width: 100%;
  line-height: 65px;
  color: #204661;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}
.wrap-video .video-description h1 span.animate-vid-span {
  position: relative;
  font: 400 italic 26px 'Merriweather', sans-serif;
  color: #a2a653;
  display: block;
  text-transform: none;
  letter-spacing: 0;
}
.wrap-video .video-description p.video-text {
  position: relative;
  color: #676c53;
  margin: 30px 0 40px;
  line-height: 30px;
  clear: both;
}
.wrap-video .video-description a.link-video {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
@media only screen and (max-width: 1235px) {
  .wrap-video .video-description h1 {
    margin-bottom: 10px;
  }
  .wrap-video .video-description p {
    margin-top: 10px;
  }
}
/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
       PRIVATE SIDE
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
.private .slideshow .slide {
  min-height: 321px !important;
}
.private .main {
  margin-top: 0;
  position: relative;
}
.private .navigation {
  margin-top: 45px;
  min-width: 450px;
}
.private .navigation.left li {
  width: 26%;
  min-width: 140px;
}
.private .navigation.right li {
  width: 28%;
  min-width: 140px;
}
.private .navigation li {
  text-align: center;
}
.private .navigation li a {
  font-size: 13px;
}
.private .footer {
  padding-top: 40px;
}
.private .wrap-club-info {
  min-height: 230px;
}
.private .wrap-club-info .club-info.social img {
  margin-top: 10px;
}
.private .wrap-club-info .club-info.social div {
  margin-top: 15px;
}
.private .wrap-club-info .address {
  margin-top: 40px;
}
.private .club-info.info-right {
  float: right;
  padding-right: 6%;
  position: relative;
  margin-top: 0;
}
/** WELCOME BACK **/
.main .welcome-back {
  width: 960px;
  margin: -94px auto 20px;
  height: 74px;
}
.main .welcome-back h2 {
  float: left;
  margin: 0px 0;
  font: 300 18px/32px 'Merriweather', sans-serif;
  color: #204661;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #fff;
  text-align: left;
}
.main .welcome-back h2 span {
  font-style: italic;
  color: #a2a653;
  font-size: 18px;
}
.main .welcome-back ul.util-welcome {
  float: right;
  position: relative;
  width: 690px;
  margin-top: 36px;
}
.main .welcome-back ul.util-welcome li {
  display: inline-block;
  list-style: none;
  margin-right: 50px;
}
.main .welcome-back ul.util-welcome li:last-child {
  margin-right: 0;
}
.main .welcome-back ul.util-welcome li i.fa {
  font-size: 1.2em;
  margin-right: 6px;
}
.main .welcome-back ul.util-welcome li a {
  text-decoration: none;
  font-size: 13px;
}
/** CUSTOM ANNOUNCEMENT **/
.private-announcements {
  behavior: url('css/PIE.htc');
  margin: 0;
  background: #15334b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #15334b 30%, #1a3d59 50%, #15334b 70%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #15334b), color-stop(50%, #1a3d59), color-stop(70%, #15334b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #15334b 30%, #1a3d59 50%, #15334b 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #15334b 30%, #1a3d59 50%, #15334b 70%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #15334b 30%, #1a3d59 50%, #15334b 70%);
  /* IE10+ */
  background: linear-gradient(to right, #15334b 30%, #1a3d59 50%, #15334b 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15334b', endColorstr='#15334b', GradientType=1);
  /* IE6-9 */
}
.private-announcements .wrap-announcements {
  padding: 1%;
}
.private-announcements div.title {
  float: none;
}
.private-announcements div.title h2 {
  float: none;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  letter-spacing: 1px;
  text-indent: 20px;
  font-style: normal;
  text-align: left;
  font-weight: normal;
}
.private-announcements ul.announcements {
  float: none;
  padding: 10px 0 10px 45px;
}
.private-announcements ul.announcements li a {
  font-size: 11px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  padding-left: 12px;
  background: url("../images/icon_announcement.png") center left no-repeat transparent;
}
/**PRIVATE TEXT TOP**/
.private_top_text {
  width: 100%;
  float: left;
  margin-bottom: 35px;
}
/**FEATURED HIGHLIGHT**/
.private_highlight {
  background: #FFF;
  padding: 13px;
  width: 96.5%;
  -webkit-box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  box-shadow: 0 0 2px #cccccc;
}
.private_highlight a.image {
  float: left;
  margin: 0px 15px 10px 0px;
}
.private_highlight a.image img {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  box-shadow: 0 0 2px #cccccc;
}
.private_highlight .highlight_text h2 {
  color: #204661;
  font: italic 22px 'Merriweather', sans-serif;
  margin: 5px 0;
}
.private_highlight .highlight_text .desc {
  font-size: 13px;
}
.private_highlight .highlight_text .more {
  font: bold 11px 'Merriweather', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.private_right {
  width: 220px;
  float: right;
  margin-right: 0px;
}
/** LEFT SIDE **/
/** HIGHLIGHTS **/
.content-right {
  /**RIGHT SIDE**/
  /*BUTTONS*/
  /****CALENDAR****/
}
.content-right ul.highlights {
  margin: 0px;
}
.content-right ul.highlights li {
  margin-bottom: 35px;
}
.content-right ul.highlights h3 {
  font: italic 19px/21px 'Merriweather', sans-serif;
  margin-top: 0px;
  color: #204661;
  margin-bottom: 15px;
}
.content-right ul.highlights span.img_highlight {
  border: 2px solid #676c53;
}
.content-right ul.highlights li div {
  font-size: 12px;
  line-height: 21px;
  color: #676c53;
}
.content-right ul.highlights li div p {
  margin-bottom: 2px;
}
.content-right ul.highlights li div p a.more {
  font-weight: bold;
  font-size: 10px;
  line-height: 21px;
  color: #a2a653;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.content-right .btn_links {
  width: 220px;
}
.content-right .btn_links .btn-item a {
  behavior: url('css/PIE.htc');
  width: 190px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  padding: 10px 10px 10px 20px;
  font-style: normal;
  text-decoration: none;
  background: #a2a653;
  text-shadow: 1px 1px 1px #676c53;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.content-right div.events {
  text-align: center;
}
.content-right div.events h2 {
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #204661;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.content-right div.events a.print-calendar {
  display: block;
  font-size: 12px;
  color: #204661;
  margin-bottom: 12px;
}
.content-right ul.side_calendar_list {
  margin: 0px;
  /** VERTICAL STACK **/
  /** HORIZONTAL STACK **/
}
.content-right ul.side_calendar_list li {
  margin-bottom: 9px;
  border-top: 1px solid #ccc;
}
.content-right ul.side_calendar_list li a.desc {
  width: 100%;
  margin: 8px 0px;
  font-size: 11px;
  line-height: 16px;
  color: #676c53;
  text-decoration: none;
  text-align: center;
  font-style: normal;
}
.content-right ul.side_calendar_list .event_date {
  width: 65%;
  float: none;
  display: block;
  margin: -1px auto 0;
  padding: 3px 0px;
  background: #e7e9d8;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #a2a653;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 0px;
}
.content-right ul.side_calendar_list h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #676c53;
}
.content-right ul.side_calendar_list .wrap-event {
  padding: 0px;
  width: 100%;
}
.content-right ul.side_calendar_list .day_desc {
  width: 82%;
  padding-left: 8%;
  padding-right: 10%;
  float: left;
  text-align: center;
}
.content-right ul.side_calendar_list.left .event_date {
  width: 29%;
  float: left;
  padding: 3px 0px;
  background: #ccc;
}
.content-right ul.side_calendar_list.left h3 {
  width: auto;
  float: left;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #676c53;
  margin-left: 0px;
}
.content-right ul.side_calendar_list.left h3 span {
  width: auto;
  float: none;
  display: inline-block;
}
.content-right ul.side_calendar_list.left .wrap-event {
  padding: 0px;
  width: 71%;
  float: right;
}
.content-right ul.side_calendar_list.left .day_desc {
  width: 82%;
  padding-left: 8%;
  padding-right: 0%;
  float: left;
}
.content-right ul.side_calendar_list.left li a.desc {
  margin: 8px 0px;
  font-size: 12px;
  line-height: 16px;
  color: #676c53;
  padding-right: 0%;
  text-decoration: none;
}
/** PAGINATOR **/
.paginator_wrapper {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 0;
  padding-top: 10px;
}
.paginator a {
  background: url(../images/dots.png) no-repeat 0 0px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0px 1px;
  font-size: 12px;
  line-height: 18px;
  text-indent: -9999px;
  font-weight: normal;
  text-decoration: none;
  opacity: 1;
}
.paginator a.inactive {
  background: url(../images/dots.png) no-repeat 0 -12px;
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  text-decoration: none;
  line-height: 18px;
}
.paginator a.prev {
  width: 17px;
  height: 18px;
  float: left;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  margin: 0;
  text-indent: -9999px;
  background: url("../images/left_arrow.png") no-repeat scroll 0 0 transparent;
}
.paginator a.next {
  width: 17px;
  height: 18px;
  float: right;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  margin: 0;
  text-indent: -9999px;
  background: url("../images/right_arrow.png") no-repeat scroll 0 0 transparent;
}
.paginator a.prev.inactive,
.paginator a.next.inactive {
  opacity: 1;
}
.private-callout {
  float: right;
  border: 3px solid #fff;
  position: relative;
  width: 100%;
  margin: 10px 0px 50px 15px;
}
.private-callout p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px !important;
  padding: 10px 15px;
  width: 86%;
  font-size: 18px;
  z-index: 2;
  color: #204661;
  text-align: center;
}
.private-callout p span {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}
.private-callout img {
  float: left;
  width: 100%;
}
/** SIDE INSERT **/
.content-right div.specialinserts {
  behavior: url('css/PIE.htc');
  width: 100%;
  float: left;
  border: 1px solid #efefef;
  background: #fff;
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc;
}
.content-right div.specialinserts div.insert {
  width: 90%;
  margin: 0px 5%;
}
.content-right div.specialinserts div.insert img {
  display: block;
  margin: 0 auto;
}
.content-right div.specialinserts h3 {
  font: italic 18px/24px 'Merriweather', sans-serif;
  color: #204661;
  text-align: center;
}
.content-right div.specialinserts div.text {
  margin-bottom: 10px;
}
.content-right div.specialinserts div.text p {
  text-align: center;
  margin-bottom: 14px;
  line-height: 24px;
}
.content-right div.specialinserts div.text p a {
  color: #a2a653;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
}
/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
       TEMPLATE FIXES
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
/** BUSINESS DIRECTORY **/
.businessCard.featured img.featured {
  position: absolute;
  top: -3px;
  right: -3px;
}
.business_form_row input[type="submit"] {
  color: #fff;
  background: #547034;
}
/** MRM HACKS **/
/** CALENDAR **/
table.cal_main tr.day_title td {
  background: #6D7B56;
}
table.cal_main tr.day_box td {
  background: #F6F4F3;
}
table.cal_main tr.day_box td a {
  color: #5A6944;
}
table.cal_main tr.day_title td a {
  color: #fff;
}
table.cal_main tr.day_title td.today {
  background-color: #AA7D1E;
}
table.cal_main tr.day_title td.today a {
  color: #fff;
  text-transform: uppercase;
}
table.cal_add_form input.form_btn {
  background: #D4D0C8;
  color: #000;
  font-weight: bold;
  border: 2px outset #D4D0C8;
}
/** SURVEYS **/
html.club_scripts_survey_survey_list .content-right table tr.title td {
  border-bottom: 1px solid #5A6944;
}
html.club_scripts_survey_survey_list .content-right table h2 {
  font-size: 16px;
}
/** USER ORG LIST **/
html.club_scripts_member_member_search_orgs .member-search-orgs h2 {
  font-size: 24px;
}
html.club_scripts_member_member_search_orgs .member-search-orgs h3 {
  font-size: 16px;
}
html.club_scripts_member_member_search_orgs .member-search-orgs tr.line td {
  border-top: 2px solid #67784E;
}
html.club_scripts_member_member_search_orgs .member-search-orgs tr.line2 td {
  border-top: 1px solid #E3E0D2;
}
/** MEMBER DIRECTORY*/
.memdir-atoz a.letterLink:hover span,
.memdir-atoz a.active span {
  background: #B38414;
}
#memberdirectory-search-btn,
.memdir-atoz a.letterLink:hover span,
.memdir-atoz a.active span {
  background-color: #B38414 !important;
}
.memdir-atoz a.letterLink:hover span,
.memdir-atoz a.active span {
  border: 1px solid #B38414 !important;
  box-shadow: 0 1px 0 0 #daa21a inset, 0 0 6px 0 rgba(0, 0, 0, 0.4) !important;
}
.dk_theme_black .dk_toggle,
.dk_theme_black.dk_open .dk_toggle {
  width: 140px !important;
}
/** FILE LIBRARY LIST **/
html.club_scripts_filelib_view_filelib_list .file-library-list h2 {
  border-bottom: ;
}
/** MEMBER PROFILE **/
h3.memberprofile-user-activities-title {
  font-size: 18px;
}
.memberprofile-user-details-right h1.memberprofile-user-name {
  margin-bottom: 14px;
}
.memberprofile-details a.memberprofile-btn-edit {
  background-color: #6D7B56;
}
.memberprofile-details a.memberprofile-btn-edit-photo {
  background-color: #6D7B56;
}
.memberprofile-details a.memberprofile-btn-addfriend {
  background-color: #6D7B56;
}
.memberprofile-user-content-box h6 {
  font-size: 13px !important;
}