.filmstripWrap { 
	position: relative;
	width:100%;
	height:240px;
    margin-left: -30px;
}
.filmstrip {
	position:relative;
    overflow:hidden;
    width: 690px;
    height: 206px;
    margin: 0 auto 0;
    background: url(../images/filmstrip-shadow.png);
    z-index: 90;
}
.filmstrip .filmstripItems {
    width:20000em;
    position:absolute;
}
.filmstripItems div {
    float:left;
    width: 620px;
    margin-left:50px;
    margin-top:24px;
}
.filmstripItems div img {
	border: 2px solid white;
	box-shadow: 0px 0px 5px #999;
	width:180px;
	height:130px;
	margin:7px;
}
a.browse {
    background:url(../images/filmstrip-arrows.png) no-repeat;
    display:block;
    width:17px;
    height:18px;
    margin:0;
    cursor:pointer;
    position: absolute;
    top:80%;
    z-index: 99;
}
a.right { 
	background-position: -68px 0px;
	right: 46%;
}
a.right:hover { 
	background-position: -85px 0px; 
}
a.right:active { 
	background-position: -85px 0px; 
}
a.left { 
	background-position: -17px 0px;
	left: 47%;
}
a.left:hover  { 
	background-position: -34px 0px; 
}
a.left:active { 
	background-position: -34px 0px; 
}
a.left.disabled {
    background-position: 0px 0px;
    cursor: default;
}
a.right.disabled {
	background-position: -51px 0px;
	cursor: default;
}
h2.filmstripAlbumTitle{
        color: #0F2A59;
    font-family: 'Questrial',sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: none;
    width: 100%;
}