/*COLLAPSBILE FAQs*/
.wrap_testimonials {
width: 100%;
overflow: hidden;
float: left;
margin-bottom: 20px;
height: 35px; 
/*MAKE THIS HEIGHT LARGER IF H2 IS BEING CUT OFF. CHANGE IT IN faq_script.js AS WELL*/
}
.wrap_testimonials h2 {
width: 100%;
float: left;
cursor: pointer;
padding: 0px !important;
margin: 0px 0px 14px 0px !important;
}
.wrap_testimonials h2 span{
float: left;
width: 26px;
}
.testimonial_open{
float: left;
display: none;
}
.wrap_testimonials div.content{
float: right;
display: block;
}
.wrap_testimonials .closed:after {content: "+";}
.wrap_testimonials .open:after {content: "\2013";}

.wrap_testimonials.open_testimonials .testimonial_open {display: block;}
/*.wrap_testimonials.open_testimonials .testimonial_open p{background: url('/custom/images/testimonial_background.png') no-repeat top left;}*/
