.clear {
	clear:both;
}
.memdir-search-form-template {
	padding-bottom:6px;
	border-bottom:4px double #a6a6a6;
	margin:15px 0 30px 0;
}
.memdir-atoz {
	width:32px;
	float:left;
	margin-right:15px;
}
.memdir-atoz .memdir-atoz-inner-box  {
	width:26px;
	background:#fff;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	position:relative;
	padding:1px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.memdir-atoz a.letterLink {
	font-family: Arial, Helvetica, Verdana, San-serif;
	display:block;
	font-size:14px;
	line-height:23px;
	color:#404040;
	font-weight:bold;
	margin: 2px;
    padding: 2px 5px;
	text-align:center;
	position:relative;
	text-decoration:none !important;
}

.memdir-atoz a.letterLink:hover {
	text-decoration:none;

}

.memdir-atoz a.letterLink span {
	display:none;
}
.memdir-atoz a.letterLink:hover span,
.memdir-atoz a.active span {
	display:block;
	font-size:18px;
	color:#fff;
	font-weight:normal;
	margin:0 0 0 -17px;
	text-align:center;
	background:#652a2a;
	width:32px;
	height:24px;
	padding-top:1px;
	-webkit-box-shadow: inset 0 1px 0 0 #894444,
	0 0 6px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 0 0 #894444,
	0 0 6px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 
	inset 0 1px 0 0 #894444,
	0 0 6px 0 rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #652a2a;
	position:absolute;
	left:50%;
	top:0;
	z-index:10;
	
}


.memdir-atoz-horizontal {
	float: none;
    margin-right:auto;
	margin-left:auto;
    width:690px;
	margin-bottom:25px;
}

.memdir-atoz-horizontal .memdir-atoz-inner-box {
	width:668px;
	height:26px;
	background:#fff;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	position:relative;
	padding:1px 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.memdir-atoz-horizontal a.letterLink {
	float:left;
	padding:0 6px;
}


.memdir-atoz-horizontal a.letterLink:hover span,
.memdir-atoz-horizontal a.active span {
	width:28px;
	height:29px;
	margin: -7px 0 0 -17px;
	padding-top:5px;

}


.memberdirectory-form-basic-wrapper {
	height:35px;
	margin-bottom:15px;
}

.memberdirectory-user-search-wrapper {
	float:left;
	width:690px;
	line-height:1.0em;
}

.memberdirectory-form-field-wrapper {
	display:block;
	float:left;
}
.memberdirectory-form-field-wrapper label {
	display:none;
}
.memberdirectory-form-field-wrapper input.memberdirectory-search-field {
	display:block;
	width:187px;
	padding:0 5px;
	height:29px;
	background:#fff url(images/memberdirectory-search-input-bg.png) no-repeat left top;
	border:none;
}


#memberdirectory-search-btn {
	border:none;
	background:#652a2a url(images/btn-search-bg.png) no-repeat left top;
	width:89px;
	height:29px;
	text-indent:-9999px;
	outline:0;
	display:block;
	float:left;
	margin: 0 8px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}

#memberdirectory-search-btn:hover,
#memberdirectory-search-btn:active {
	background-position:left bottom;
}

#memberdirectory-show-orgs-btn {
	border:none;
	background:#545454 url(images/btn-show-orgs-bg.png) no-repeat left top;
	width:112px;
	height:29px;
	text-indent:-9999px;
	outline:0;
	display:block;
	float:right;
	margin: 0 0 0 10px;
	position:relative;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}

#memberdirectory-show-orgs-btn:hover,
#memberdirectory-show-orgs-btn:active {
	background-position:left -29px;
	
}

#memberdirectory-advanced-btn {
	border:none;
	background:#545454 url(images/memdir-advanced-search-btn.png) no-repeat left top;
	width:146px;
	height:29px;
	text-indent:-9999px;
	outline:0;
	display:block;
	float:right;
	margin: 0 0 0 10px;
	position:relative;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}

#memberdirectory-advanced-btn:hover,
#memberdirectory-advanced-btn:active {
	background-position:left -29px;
	
}
#memberdirectory-advanced-btn.memberdirectory-advanced-btn-close {
	background-position:left bottom;
}



.memdir-advanced-search {
	clear:both;
	display:none;
	text-indent:0;
	padding:20px;
	border-bottom:4px solid #a6a6a6;
	border-top:4px solid #a6a6a6;
	background:url(images/bg-tiny-diag-repeat.png) repeat 0 0;
}

.memdir-advanced-search label {
	font-size:14px;
	padding-right:10px;
	font-weight:bold;
	color:#404040;
	font-family:helvetica, arial, verdana, san-serif;
}
.memdir-advanced-search input,
.memdir-advanced-search select {
	margin-right:10px;
}


.dk_container {
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}


#searchmessage {
	margin:4px 0;
	font-size:10px;
	font-weight:normal;
	color:#8c8c8c;
}
#searchmessage strong {
	padding-right:10px;
	font-weight:bold;
	color:#6d6d6d;
	font-size:14px;
}
#searchmessage strong span {
	text-transform:uppercase;
}


/********************************************************************************
********************************************************************************
********************************************************************************
********************************************************************************

               BEGIN USER SEARCH RESULTS STYLES
			   
********************************************************************************
********************************************************************************
********************************************************************************
********************************************************************************/




div.memberdirectory-user-result {
	width:329px;
	padding:3px;
	height:96px;
	background:url(images/directory-profile-listing-box-bg.png) no-repeat left top;
	float:left;
	margin: 0 10px 10px 0;
	overflow:hidden;
}
div.memberdirectory-user-result-bigger {
    height:117px;
	background:url(images/directory-profile-listing-box-bg-bigger.png) no-repeat left top;
}


.memberdirectory-visible-details {
    float: left;
    width: 230px;
	max-height:96px;
	overflow:hidden;
}
div.memberdirectory-user-result-bigger .memberdirectory-visible-details {
    max-height:110px;
}

div.memberdirectory-user-result:hover {
	background-position:left bottom;
}

div.memberdirectory-user-result:hover .memberdirectory-visible-details .memberdirectory-user-data {
	display:none;
}

div.memberdirectory-user-result:hover .memberdirectory-user-controls {
	display: block;
}




.memberdirectory-user-pic {
	width:78px;
	height:78px;
	float:left;
	margin:9px;
	position:relative;
}

.memberdirectory-user-pic a img {
	display:block;
}

.memberdirectory-user-pic-mask a {
	display:block;
    height: 100%;
    width: 100%;
}

.memberdirectory-user-pic-mask {
	width:79px;
	height:79px;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	background:url(images/directory-profile-listing-box-pic-mask.png) no-repeat left top;
}

h3.memberdirectory-user-name,
 h3.memberdirectory-user-name a,
 h3.memberdirectory-user-name a:hover {
	font-family:arial, helvetica, san-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	margin:0;

}

h3.memberdirectory-user-name {
	margin:9px 0 3px 0;
	height:20px;
	overflow:hidden;
	position:relative;
}

 h3.memberdirectory-user-name a {
	width:500px;
	height:20px;
	position:absolute;
	text-decoration:none !important;
 }

span.memberdirectory-user-label {
	color:#a0a0a0;
	font-size:11px;
	font-weight:bold;
	font-family:arial, helvetica, san-serif;
	padding-right:15px;
	display:block;
	float:left;
	width:40px;
}
span.memberdirectory-user-data {
	font-family:arial, helvetica, san-serif;
	color:#2d2d2d;
	display:block;
	font-size:11px;
	height: 14px;
	clear:left;
}
span.memberdirectory-user-data a {
	color:#2d2d2d !important;
}



.memberdirectory-user-controls {
	display:none;
	float:left;
	width:233px;
}	
.memberdirectory-user-controls-btns {
	width:82px;
	float:left;
	margin-top: 3px;
}
.memberdirectory-3btns {
	width:112px;
}
.memberdirectory-user-controls-no-email {
	display:block;
	background:url(images/img-no-email-left.png) no-repeat left top;
	width:6px;
	height: 38px;
	text-indent:-9999px;
	outline:0;
	float:left;
}
.memberdirectory-user-controls-emailmember {
	display:block;
	background:url(images/directory-email-btn.png) no-repeat left top;
	width:41px;
	height: 38px;
	text-indent:-9999px;
	outline:0;
	float:left;
}

.memberdirectory-user-controls-addfriend {
	display:block;
	background:url(images/directory-add-btn.png) no-repeat left top;
	width:41px;
	height: 38px;
	text-indent:-9999px;
	outline:0;
	float:right;
}


.memberdirectory-user-controls-ghin {
	display:block;
	background:url(images/directory-ghin-btn.png) no-repeat left top;
	width:30px;
	height: 38px;
	text-indent:-9999px;
	outline:0;
	float:left;
}

.memberdirectory-user-controls-emailmember:hover,
.memberdirectory-user-controls-addfriend:hover,
.memberdirectory-user-controls-ghin:hover {
	background-position:left bottom;
}



a.memberdirectory-user-view-link {
	display:block;
	float:right;
	height:95px;
	width:105px;
	text-indent:-9999px;
	
}

.header-show-orgs {
    width: 100%;
    float: left;
    padding-top: 22px;
}
.header-show-orgs h3 {
    float: left;
}
.header-show-orgs a.email-committee {
    float: right;
    margin-top: 11px;
}